/* #43c19f
border-radius: 40px;
padding: 12px 25px;
font-weight: 350;

#e9e9e9

#dc5e5e

#5be2be */
#container {
    height: 100%;
    display: flex;
  }
  

  
#sidebar {
  flex-basis: 5rem;
  flex-grow: 1;
  
  max-width: 30rem;
  height: 100%;
  box-sizing: border-box;
  height: 700px;
  overflow: auto;
}
  #map {
    flex-basis: 0;
    flex-grow: 4;
    height: 700px;
    width: 100%;
 
  }
  
  #sidebar {
    display: flex;
    flex-direction: column;
  }
  
  h2#map-elem {
    font-size: 1.5rem;
    margin: 0 0 5px 0;
    flex-grow: 0;
  }
  
   ul#places  {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow-y: scroll;
    flex-grow: 1;
  }
  
   ul#places > li {
 
    padding: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 1.25rem;
    cursor: pointer;
  }
  
  
  
  button#more {
    width: 100%;
    padding: 1rem;
    flex-grow: 0;
    cursor: pointer;
    background: #000000;
    font-size: 1.5rem;
    color: white;
    border: none;
  }
  
  button#more:hover {
    color: #c5d4f0;
  }
  
  button#more:disabled {
    background-color: #a9a9a9;
    color: #c5d4f0;
    cursor: auto;
  }

  #map-result{
    background-color: #000000;
    color: white;
  }

  #more{
    display: none !important;
  }